* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
}

@media (600px <= width <= 900px) {
  h1 {
    font-size: 36px;
    color: salmon;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
    color: steelblue;
  }

  p {
    font-size: 14px;
  }
}
