* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
}

.gallery {
  display: flex;
  gap: 8px;
  padding-top: 20px;
  padding-left: 6px;
  flex-wrap: wrap;
}

.img-container {
  flex-basis: calc(33.33% - 8px);
  height: 300px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

p {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 40px;
  color: white;
  opacity: 90%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .gallery {
    gap: 12px;
  }
  .img-container {
    flex-basis: calc(50% - 10px);
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  p {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .img-container {
    flex-basis: calc(100% - 6px);
    height: 200px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
}
