* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(103, 122, 227), rgb(107, 109, 210));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex: 1;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 1px 20px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-image: linear-gradient(to top right, rgb(101, 125, 232), rgb(117, 76, 163));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.placeholder {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(138, 130, 207);
  line-height: 3;
}

.text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}

.title {
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(45, 62, 80);
}

.text-body {
  padding-bottom: 30px;
  font-size: 19px;
  color: rgb(102, 102, 102);
  font-weight: 500;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: rgb(231, 75, 60);
}

.cart-button {
  font-size: 19px;
  padding: 15px 35px;
  font-weight: bold;
  color: white;
  border: none;
  background-image: linear-gradient(to bottom right, rgb(103, 125, 231), rgb(117, 77, 165));
  border-radius: 8px;
}

@media (600px <= width <= 900px) {
  .main-container {
    flex-direction: column;
    height: 70%;
    width: 70%;
  }

  .image-container {
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .text-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main-container {
    margin-top: 10px;
    margin-inline: 10px;
    flex-direction: column;
    width: 93%;
    height: 80%;
  }

  .image-container {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .text-container {
    text-align: center;
    width: 100%;
    flex: 1;
  }

  .bottom-container {
    flex-direction: column;
    gap: 5px;
  }

  .cart-button {
    width: 100%;
  }
}
