body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.box {
  width: 300px;
  height: 300px;
  background-color: blue;
}

@media (max-width: 768px) {
  .box {
    width: 100%;
    background-color: red;
  }
}
